@using AIStoryBuilders.Model
@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject SettingsService SettingsService
@using AIStoryBuilders.Models;
@using Radzen.Blazor
@inject AppMetadata _AppMetadata
@inject LogService LogService
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />
<main>
    <div class="top-row px-4">
        <a href="https://AIStoryBuilders.com/" target="_blank">AIStoryBuilders.com</a>
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>
<RadzenFooter>
    <div class="row justify-content-start align-items-center px-2 pt-2 p-3 mb-2 bg-light text-dark">
        <div class="col-12 d-flex align-items-left">
            &copy; @year - Version: @versionLocal - Note: For fast performance use the&nbsp;<a href="https://apps.microsoft.com/detail/9ncjn9w323db?rtc=1&amphl=en-us&ampgl=US&hl=en-us&gl=US" target="_blank">Windows Store Version</a>
        </div>
    </div>
</RadzenFooter>
@code {
    private string versionLocal = "";
    private string year = DateTime.Now.Year.ToString();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Load Settings
            await SettingsService.LoadSettingsAsync();

            var Organization = SettingsService.Organization;
            var ApiKey = SettingsService.ApiKey;
            var AIModel = SettingsService.AIModel;

            versionLocal = _AppMetadata.Version;

            await LogService.WriteToLogAsync("Application started at " + DateTime.Now);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            await LogService.WriteToLogAsync(ex.Message);
        }

        // call the base class
        base.OnInitialized();
    }

    #region private int ConvertToInteger(string strParamVersion)
    private int ConvertToInteger(string strParamVersion)
    {
        int intVersionNumber = 0;
        string strVersion = strParamVersion;

        // Split into parts seperated by periods
        char[] splitchar = { '.' };
        var strSegments = strVersion.Split(splitchar);

        // Process the segments
        int i = 0;
        List<int> colMultiplyers = new List<int> { 10000, 100, 1 };
        foreach (var strSegment in strSegments)
        {
            int intSegmentNumber = Convert.ToInt32(strSegment);
            intVersionNumber = intVersionNumber + (intSegmentNumber * colMultiplyers[i]);
            i++;
        }

        return intVersionNumber;
    }
    #endregion
}
